/*
    Sass-driven https://sass-lang.com/

    Template variable: $template-X
    View variable: $view-Z
    System variable: $system-Q
*/

transition: opacity #{$template-transitionms}ms;

opacity: 0;

&.startIn {
    opacity: 1;
}

&.startOut {
    opacity: 0;
}